<header class="site__header">
  <div class="row">
    <div class="large-4 medium-4 small-12 columns">
      <img src="/assets/images/LH-2017-LOGO.png" alt="Local Heroes" class="site-logo">
    </div>
    <div class="large-8 medium-8 small-12 columns">
      <div class="row small-up-2 medium-up-3 large-up-5">
        {% for s in site.data.social %}
          {% assign icon = s.icon | prepend: "fi-social-"%}
          <div class="column column-block text-center">
            <a href="{{ s.link }}"><span>{{ s.name }}</span> <i class="{{ icon }}"></i></a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</header>
