<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ site.description }}">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="{{ site.github.url }}/assets/css/app.css">
<link rel="stylesheet" href="{{ site.github.url }}/assets/css/foundation-icons.css">
<link rel="shortcut icon" href="{{ site.github.url }}/assets/images/favicon.png" type="image/x-icon">
<title>{{ site.title }} | {{ page.title }}</title>
