<main class="site__main" style="background-image: url('../assets/images/LH-2017-WEBSITE-BACKGROUND.png'); background-position: center bottom; background-repeat: no-repeat;">
  {{ content }}
  <div class="site__section">
    <div class="columns row">
      <hr>
      <img src="{{ site.baseurl }}/assets/images/logos/BCSUF.jpg" alt="" class="footer-logo">
      <img src="{{ site.baseurl }}/assets/images/logos/Big_Lottery.jpg" alt="" class="footer-logo">
      <img src="{{ site.baseurl }}/assets/images/logos/wessex_youth_trust.png" alt="" class="footer-logo">
    </div>
  </div>
</main>
