<nav class="site__nav">
  <div class="columns row">
    <div class="title-bar" data-responsive-toggle="navigation-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="navigation-menu"></button>
      <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar" id="navigation-menu">
      <div class="top-bar left">
        <ul class="vertical medium-horizontal menu">
          {% for link in site.data.navigation.links %}
            <li><a href="{{ site.baseurl }}{{ link.link }}">{{ link.text}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>
