<nav class="site__nav">
  <div class="columns row">
    <div class="title-bar" data-responsive-toggle="navigation-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="navigation-menu"></button>
      <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar" id="navigation-menu">
      <div class="top-bar left">
        <ul class="vertical medium-horizontal menu">
          <li><a href="{{ site.url }}">Home</a></li>
          <li><a href="{{ site.baseurl }}/about-us">About us</a></li>
          <li><a href="{{ site.baseurl }}/our-team">Our team</a></li>
          <li><a href="{{ site.baseurl }}/our-heroes">Our heroes</a></li>
          <li><a href="{{ site.baseurl }}/our-partners">Our partners</a></li>
          <li><a href="{{ site.baseurl }}/testimonials">Testimonials</a></li>
          <li><a href="{{ site.baseurl }}/get-involved">Get involved</a></li>
          <li><a href="{{ site.baseurl }}/call-timeout">Call time out</a></li>
          <li><a href="{{ site.baseurl }}/donate">Donate</a></li>
          <li><a href="{{ site.baseurl }}/contact-us">Contact us</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
