
  <div class="cf">
    {% assign pages = site.pages | sort: "title" %}
    {% for p in pages %}
      {% if p.layout == "team-member" %}
      <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--1x1">
          <img style="background-image:url(http://via.placeholder.com/512x512);"
          class="db bg-center cover aspect-ratio--object" />
        </div>
        <a href="#0" class="ph2 ph0-ns pb3 link db">
          <h3 class="f5 f4-ns mb0 black-90">{{ p.title }}</h3>
          <h3 class="f6 f5 fw4 mt2 black-60">Job title</h3>
        </a>
      </article>
      {% endif %}
    {% endfor %}
  </div>
